
.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.react-datepicker-wrapper {
  width: 100%;
}