
.address {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px #f1f1f1;
  padding: 1rem;
  align-items: center;

  .title {
    font-weight: 600;
  }
}

.detailProdut {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  img {
    border-radius: 8px;
  }
}